<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.exp.unievents">

  <application
    android:name=".ApplicationController"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".ui.activities.EditProfileActivity"
      android:label="@string/title_activity_edit_profile"
      android:parentActivityName=".ui.activities.BaseActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.exp.unievents.ui.activities.BaseActivity" />
    </activity>
    <activity
      android:name=".ui.activities.SignUpActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.activities.LoginActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".ui.activities.SplashActivity"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.activities.DashboardActivity"
      android:screenOrientation="portrait" />
    <activity android:name=".ui.activities.menu.Inbox" />
    <activity android:name=".ui.activities.menu.Feedback" />
    <activity android:name=".ui.activities.menu.Help" />
    <activity android:name=".ui.activities.menu.History" />
    <activity android:name=".ui.activities.menu.About" />
    <activity android:name=".ui.activities.menu.Calender" />
    <activity android:name=".ui.activities.menu.Certification" />
    <activity android:name=".ui.activities.menu.Terms" />
    <activity android:name=".ui.activities.menu.OtherApp" />
    <activity android:name=".ui.activities.EventDetailActivity"
      android:theme="@style/AppTheme.AppCompat"
      android:label="@string/event_details"/>
  </application>

</manifest>